@import 'tailwindcss';

@theme {
    /* Teal */
    --color-brand-50: oklch(0.984 0.014 180.72);
    --color-brand-100: oklch(0.953 0.051 180.801);
    --color-brand-200: oklch(0.91 0.096 180.426);
    --color-brand-300: oklch(0.855 0.138 181.071);
    --color-brand-400: oklch(0.777 0.152 181.912);
    --color-brand-500: oklch(0.704 0.14 182.503);
    --color-brand-600: oklch(0.6 0.118 184.704);
    --color-brand-700: oklch(0.511 0.096 186.391);
    --color-brand-800: oklch(0.437 0.078 188.216);
    --color-brand-900: oklch(0.386 0.063 188.416);
    --color-brand-950: oklch(0.277 0.046 192.524);
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

[data-theme='gray'] {
    --color-brand-50: theme(--color-gray-50);
    --color-brand-100: theme(--color-gray-100);
    --color-brand-200: theme(--color-gray-200);
    --color-brand-300: theme(--color-gray-300);
    --color-brand-400: theme(--color-gray-400);
    --color-brand-500: theme(--color-gray-500);
    --color-brand-600: theme(--color-gray-600);
    --color-brand-700: theme(--color-gray-700);
    --color-brand-800: theme(--color-gray-800);
    --color-brand-900: theme(--color-gray-900);
    --color-brand-950: theme(--color-gray-950);
}

[data-theme='sky'] {
    --color-brand-50: theme(--color-sky-50);
    --color-brand-100: theme(--color-sky-100);
    --color-brand-200: theme(--color-sky-200);
    --color-brand-300: theme(--color-sky-300);
    --color-brand-400: theme(--color-sky-400);
    --color-brand-500: theme(--color-sky-500);
    --color-brand-600: theme(--color-sky-600);
    --color-brand-700: theme(--color-sky-700);
    --color-brand-800: theme(--color-sky-800);
    --color-brand-900: theme(--color-sky-900);
    --color-brand-950: theme(--color-sky-950);
}

[data-theme='rose'] {
    --color-brand-50: theme(--color-rose-50);
    --color-brand-100: theme(--color-rose-100);
    --color-brand-200: theme(--color-rose-200);
    --color-brand-300: theme(--color-rose-300);
    --color-brand-400: theme(--color-rose-400);
    --color-brand-500: theme(--color-rose-500);
    --color-brand-600: theme(--color-rose-600);
    --color-brand-700: theme(--color-rose-700);
    --color-brand-800: theme(--color-rose-800);
    --color-brand-900: theme(--color-rose-900);
    --color-brand-950: theme(--color-rose-950);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

html,
body,
#__next {
    @reference h-dvh scroll-smooth bg-white font-sans text-brand-900 antialiased;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/* This correctly styles the minimal progress bar that is displayed when navigating between pages */
#nprogress {
    @reference pointer-events-none z-50;
}
#nprogress .bar {
    @reference fixed left-0 top-0 z-50 h-0.5 w-full bg-brand-500;
}

@keyframes swaying {
    0%,
    100% {
        transform: rotate(5deg);
        animation-timing-function: ease-in-out;
    }
    50% {
        transform: rotate(-5deg);
        animation-timing-function: ease-in-out;
    }
}

.animate-swaying {
    animation: swaying 2.5s infinite;
}
